<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Chris Long" />
  <meta name="revised" content="Chris, 2017/12/12" />
  <meta name="application-name" content="<span>SLIDE</span>_CAPTCHA" />
  <meta name="description" content="<span>SLIDE</span> CAPTCHA in I.S.E" />
  <meta http-equiv="refresh" content="300" />
  <meta http-equiv="content-type" content="text/html" />
  <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}"/>
</head>

<body>

  <div class="not-found-404" id="block">
    <div class="warning-bkg">
    </div>
    <div class="warning" id="warning404">
      <p style="padding-top:8%">
        <font size="">What have you done?</font>
      </p>
      <h1><font size="12"> 404 </font> </h1>
      <p>! ERROR DETECT ! <span>CLICK TO DISAPPER!</span></p>
    </div>
  </div>

  <div class="p-container" id="c0">
    <div class="row-container">
      <div class="sub-container" id="subc11">
        <div class="img-container">
          <img id="img1" src="{{url_for('static', filename='img/pics/'+ imgs[0] +'.jpg')}}" />
        </div>
        <div class="btm-container">
          <button id="btn1"> <font size="4"><span>SLIDE</span></font> </button>
        </div>
      </div>

      <div class="sub-container mid-sub-container" id="subc12">
        <div class="img-container">
          <img id="img2" src="{{url_for('static', filename='img/pics/'+ imgs[1] +'.jpg')}}" />
        </div>
        <div class="btm-container">
          <button id="btn2"> <font size="4"><span>SLIDE</span></font> </button>
        </div>
      </div>

      <div class="sub-container" id="subc13">
        <div class="img-container">
          <img id="img3" src="{{url_for('static', filename='img/pics/'+ imgs[2] +'.jpg')}}" />
        </div>
        <div class="btm-container">
          <button id="btn3"> <font size="4"><span>SLIDE</span></font> </button>
        </div>
      </div>
    </div>

    <div class="row-container">
      <div class="sub-container" id="subc21">
        <div class="img-container">
          <img id="img4" src="{{url_for('static', filename='img/pics/'+ imgs[3] +'.jpg')}}" />
        </div>
        <div class="btm-container">
          <button id="btn4"> <font size="4"><span>SLIDE</span></font> </button>
        </div>
      </div>

      <div class="sub-container mid-sub-container" id="subc22">
        <div class="img-container">
          <img id="img5" src="{{url_for('static', filename='img/pics/'+ imgs[4] +'.jpg')}}" />
        </div>
        <div class="btm-container">
          <button id="btn5"> <font size="4"><span>SLIDE</span></font> </button>
        </div>
      </div>

      <div class="sub-container" id="subc23">
        <div class="img-container">
          <img id="img6" src="{{url_for('static', filename='img/pics/'+ imgs[5] +'.jpg')}}" />
        </div>
        <div class="btm-container">
          <button id="btn6"> <font size="4"><span>SLIDE</span></font> </button>
        </div>
      </div>
    </div>
    <!-- End of Sub container id= subch23 -->
  </div>

  <div class="copy-right">
    <p>
      <font size="2" color="#757575">Created by Chris + Xu + Song + Xie at 2017/12/12.</font>
    </p>
  </div>

</body>

</html>
