html, body{
  height: 99%;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.p-container {
  width: 100%;
  height: 90%;
}

.sub-container {
  width: 30%;
  height: 45%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  float: left;
  margin-top: 1%;
  text-align: center;
}

.mid-sub-container {
  margin-left: 3%;
  margin-right: 3%;
}

.btm-container {
  width: 100%;
  text-align: center;
}

.copy-right {
}

.btn-click {
}


img {
  height: 80%;
  width: 90%;
  margin: 5% 5% 0 5%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
